<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/style.css?after">
<head>
<meta charset="UTF-8">
<script src="js/script.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>LPT : 롤 포지션 테스트</title>
</head>
<body>
	<div class="layout">
		<h1 style="text-align: center;">Logo</h1>
	</div>
	<div class = "question_box">
	<div class = "question_boxtobox">
	<form id = 'test1' action = "test1.do" method = "post">
		<div class ="question">
			<span>1. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q1" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q1" value = ""> 그렇다 <br>
					<input type = "radio" name = "q1" value = ""> 보통 <br>
					<input type = "radio" name = "q1" value = ""> 아니다 <br>
					<input type = "radio" name = "q1" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>2. 나는 주변사람들이 나 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q2" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q2" value = ""> 그렇다 <br>
					<input type = "radio" name = "q2" value = ""> 보통 <br>
					<input type = "radio" name = "q2" value = ""> 아니다 <br>
					<input type = "radio" name = "q2" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>3. 나는 주변사람는</span><br>
				<div class = "answer">
					<input type = "radio" name = "q3" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q3" value = ""> 그렇다 <br>
					<input type = "radio" name = "q3" value = ""> 보통 <br>
					<input type = "radio" name = "q3" value = ""> 아니다 <br>
					<input type = "radio" name = "q3" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>4. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q4" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q4" value = ""> 그렇다 <br>
					<input type = "radio" name = "q4" value = ""> 보통 <br>
					<input type = "radio" name = "q4" value = ""> 아니다 <br>
					<input type = "radio" name = "q4" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>5. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q5" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q5" value = ""> 그렇다 <br>
					<input type = "radio" name = "q5" value = ""> 보통 <br>
					<input type = "radio" name = "q5" value = ""> 아니다 <br>
					<input type = "radio" name = "q5" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>6. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q6" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q6" value = ""> 그렇다 <br>
					<input type = "radio" name = "q6" value = ""> 보통 <br>
					<input type = "radio" name = "q6" value = ""> 아니다 <br>
					<input type = "radio" name = "q6" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>7. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q7" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q7" value = ""> 그렇다 <br>
					<input type = "radio" name = "q7" value = ""> 보통 <br>
					<input type = "radio" name = "q7" value = ""> 아니다 <br>
					<input type = "radio" name = "q7" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<div class ="question">
			<span>8. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q8" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q8" value = ""> 그렇다 <br>
					<input type = "radio" name = "q8" value = ""> 보통 <br>
					<input type = "radio" name = "q8" value = ""> 아니다 <br>
					<input type = "radio" name = "q8" value = ""> 매우 아니다 <br>
			</div>
		</div>
		<br>
		<div class ="question">
			<span>9. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q9" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q9" value = ""> 그렇다 <br>
					<input type = "radio" name = "q9" value = ""> 보통 <br>
					<input type = "radio" name = "q9" value = ""> 아니다 <br>
					<input type = "radio" name = "q9" value = ""> 매우 아니다 <br>
			</div>
		</div>
		<br>
		<div class ="question">
			<span>10. 나는 주변사람들이 나에 대해 어떻게 생각하는지에 대해 민감하다</span><br>
				<div class = "answer">
					<input type = "radio" name = "q10" value = ""> 매우 그렇다 <br>
					<input type = "radio" name = "q10" value = ""> 그렇다 <br>
					<input type = "radio" name = "q10" value = ""> 보통 <br>
					<input type = "radio" name = "q10" value = ""> 아니다 <br>
					<input type = "radio" name = "q10" value = ""> 매우 아니다 <br>
			</div>
		</div><br>
		<button type = "button" onclick="nextpage()">다음 페이지</button>
		</form>
		</div>
	</div>
	
</body>
</html>